.recipe-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
}

.recipe-details .recipe-image-wrapper {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.recipe-details .recipe-image {
  width: 100%;
  border-radius: 10px;
}

.recipe-details .list-group-item {
  padding: 0.25rem;
}

.recipe-details .list-group-item .term {
  margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
  .recipe-details .recipe-image-wrapper {
    width: 80%;
    height: auto;
    margin: 18px;
  }
  .recipe-details {
    flex-direction: column-reverse;
    margin-top: 34px;
  }
}
