.random-recipe {
  display: flex;
  padding: 1rem;
}

.random-recipe .recipe-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-recipe .list-group {
  margin: 1rem 0 0 1rem;
}

.random-recipe .list-group-item {
  padding: .25rem;
}

.random-recipe .list-group-item .term {
  margin-right: .5rem;
}

.random-recipe .list-group-item .caution {
  color: rgb(245, 131, 131);
}

.random-recipe .spinner-wrapper {
  display: inline-block;
}

.random-recipe .recipe-image-wrapper {
  display: inline-grid;
}

.toggle-recipe {
  margin-bottom: 10px;
}